@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');
body    {
    background-image: url("https://png.pngtree.com/background/20230618/original/pngtree-technology-circuit-board-rendered-in-3d-for-a-futuristic-background-picture-image_3711196.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
label   {
    color: white;
    font-size: 50px;
}
.resistance    {

    position: relative;
    top: 25px;
   
    /* left: 25%; */
    font-size: 100px;
    color: white;
    /* margin-left: 20px; */
}
.color_input    {
    position: fixed;
    top: 35%;
    left: 24%;
}
select  {
    margin-top: 50px;
    top: 40%;
    width: 250px;
    height: 90px;
    font-size: 40px;
    text-align: center;
}
option  {
    font-size: 20px ;
    
}
#reset_button  {
   
    
    margin-top: 50px;
    width: 500;
    height: 80px;
    font-size: 30px;
    border-radius: 50px;
    background-color: antiquewhite;
}
#resbody    {
    position: fixed;
    left: 7%;
    top: 10%;
    width: 850px;
}

#band1, #band2, #band3, #tolerance  {
    position: fixed;
    top: 10.65%;
    width: 20px;
    height: 138px;
    background-color: black;
}

#band1  {
    left: 30%;
    background-color: var(--band1_color);
}
#band2  {
    left: 40%;
    background-color: var(--band2_color);
}
#band3  {
    left: 50%;
    background-color: var(--band3_color);
}
#tolerance  {
    left: 70%;
    background-color: var(--tolerance_color);
}
.credit {
    position: absolute;
    left: 20%;
    bottom: 0%;
    font-family: "Honk", system-ui;
    font-size: 100px;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "MORF" 15,
        "SHLN" 50;
}